<footer class="bg-[#11732E]  text-center text-white py-8">
  <div class="max-w-6xl mx-auto gap-10 px-4">

    <!-- LOCATION -->
    <!-- <div>
      <h3 class="font-bold text-lg mb-4">Eneo / Mahali</h3>
      <p>TAASISI YA UTAFITI WA KILIMO TANZANIA</p>
      <p>Jamhuri ya Muungano wa Tanzania</p>
      <p class="mt-2">
        Makao Makuu , Makutupora, Barabara ya Arusha,  
        P.O. Box 1571, DODOMA.
      </p>
    </div> -->

    <!-- CONTACT -->
    <div>
      <h3 class="font-bold text-lg mb-4">Wasiliana Nasi</h3>
      <p>📞 +255 (0) 62 683 3134</p>
      <p>📞 +255 (0) 68 586 8110</p>
    </div>

  

  </div>

  <!-- COPYRIGHT -->
  <div class="text-center mt-10 text-sm opacity-80">
    © 2026 TARI - Taasisi ya Utafiti wa Kilimo Tanzania
  </div>
</footer>