<section class="py-4 sm:py-6 md:py-8 bg-white">

  <!-- ABOUT -->
  <section class="py-4 sm:py-6 md:py-8 bg-white">

  <!-- ABOUT -->
  <div class="px-4 sm:px-6 md:px-8 py-10 flex justify-center">
  
  <div class="w-full max-w-5xl bg-white rounded-lg shadow-md p-6 sm:p-8 md:p-10 border border-green-200">


<h1 class="text-center mb-8 font-bold text-[#11732e]">{{ 'NAV.TERMS' | translate }}</h1>

<h2 class="text-center font-bold p-6">1. {{ 'NAV.INTRO' | translate }}</h2>

<p>
  <strong>1.1 {{ 'NAV.PURPOSE' | translate }}</strong><br>
  {{ 'NAV.1.1' | translate }}
</p>

<p>
  <strong>1.2 {{ 'NAV.ACCEPTANCE' | translate }}</strong><br>
  {{ 'NAV.1.2' | translate }}
</p>

<p>
  <strong>1.3 {{ 'NAV.APPLICABILITY' | translate }}</strong><br>
  {{ 'NAV.1.3' | translate }}
</p>

<p>
  <strong>1.4 {{ 'NAV.EVENT_CATEGORIES' | translate }}</strong><br>
  {{ 'NAV.1.4' | translate }}
</p>

<p>
  <strong>1.5 {{ 'NAV.REGISTRATION_INFORMATION' | translate }}</strong><br>
  {{ 'NAV.1.5' | translate }}
</p>

<p>
  <strong>1.6 {{ 'NAV.ACCEPTANCE_REGISTRATION' | translate }}</strong><br>
  {{ 'NAV.1.6' | translate }}
</p>

<p>
  <strong>1.7 {{ 'NAV.PARTICIPANT_ELIGIBILITY' | translate }}</strong><br>
  {{ 'NAV.1.7' | translate }}
</p>
<p class="text-center font-bold p-6">
  <strong>2. {{ 'NAV.DEFINITIONS' | translate }}</strong><br>
</p>



<p>
  <strong>2.1 {{ 'NAV.DEFINITIONS_TITLE' | translate }}</strong><br>
  {{ 'NAV.2.1' | translate }}
</p>

<p>
  <strong>2.2 {{ 'NAV.INTERPRETATION' | translate }}</strong><br>
  {{ 'NAV.2.2' | translate }}
</p>



<p>
  <strong>2.3 {{ 'NAV.OBLIGATIONS' | translate }}</strong><br>
  {{ 'NAV.2.3' | translate }}
</p>

<p>
  <strong>2.4 {{ 'NAV.REFERENCES_TO_LAWS' | translate }}</strong><br>
  {{ 'NAV.2.4' | translate }}
</p>

<p>
  <strong>2.5 {{ 'NAV.REFERENCES_TO_CLAUSES' | translate }}</strong><br>
  {{ 'NAV.2.5' | translate }}
</p>

<p>
  <strong>2.6 {{ 'NAV.ILLUSTRATIVE_EXPRESSIONS' | translate }}</strong><br>
  {{ 'NAV.2.6' | translate }}
</p>

<p>
  <strong>2.7 {{ 'NAV.ORDER_OF_PRECEDENCE' | translate }}</strong><br>
  {{ 'NAV.2.7' | translate }}
</p>

<p class="text-center font-bold p-6">
  <strong>3. {{ 'NAV.REGISTRATION' | translate }}</strong><br>
</p>
<p>
  <strong>3.1 {{ 'NAV.ACCURACY_INFORMATION' | translate }}</strong><br>
  {{ 'NAV.3.1' | translate }}
</p>

<p>
  <strong>3.2 {{ 'NAV.PAYMENTs' | translate }}</strong><br>
  {{ 'NAV.3.2' | translate }}
</p>

<p>
  <strong>3.3 {{ 'NAV.PARTICIPATION' | translate }}</strong><br>
  {{ 'NAV.3.3' | translate }}
</p>

<p>
  <strong>3.4 {{ 'NAV.COMPLIANCE' | translate }}</strong><br>
  {{ 'NAV.3.4' | translate }}
</p>

<p>
  <strong>3.5 {{ 'NAV.NATURE_EVENT' | translate }}</strong><br>
  {{ 'NAV.3.5' | translate }}
</p>

<p>
  <strong>3.6 {{ 'NAV.PHYSICAL_FITNESS' | translate }}</strong><br>
  {{ 'NAV.3.6' | translate }}
</p>

<p>
  <strong>3.7 {{ 'NAV.HEALTH_RESPONSIBILITY' | translate }}</strong><br>
  {{ 'NAV.3.7' | translate }}
</p>

<p>
  <strong>3.8 {{ 'NAV.RECREATIONAL_PARTICIPATION' | translate }}</strong><br>
  {{ 'NAV.3.8' | translate }}
</p>

<p class="text-center font-bold p-6">
  <strong>4. {{ 'NAV.CANCELLATION' | translate }}</strong><br>
</p>

<p>
  <strong>4.1 {{ 'NAV.CANCELLATION_TITLE' | translate }}</strong><br>
  {{ 'NAV.4.1' | translate }}
</p>

<p>
  <strong>4.2 {{ 'NAV.FORCE_MAJEURE' | translate }}</strong><br>
  {{ 'NAV.4.2' | translate }}
</p>

<p>
  <strong>4.3 {{ 'NAV.NOTIFICATION' | translate }}</strong><br>
  {{ 'NAV.4.3' | translate }}
</p>

<p>
  <strong>4.4 {{ 'NAV.REFUND_POLICY' | translate }}</strong><br>
  {{ 'NAV.4.4' | translate }}
</p>

<p class="text-center font-bold  p-6">
  <strong>5.{{ 'NAV.LIABILITY' | translate }}</strong><br>
</p>

<p>
  <strong>5.1 {{ 'NAV.INDEMNITY' | translate }}</strong><br>
  {{ 'NAV.5.1' | translate }}
</p>

<p>
  <strong>5.2 {{ 'NAV.UNDERSTANDING' | translate }}</strong><br>
  {{ 'NAV.5.2' | translate }}
</p>

<p>
  <strong>5.3 {{ 'NAV.RISKS' | translate }}</strong><br>
  {{ 'NAV.5.3' | translate }}
</p>
<p>
  <strong>5.4 {{ 'NAV.RISK_EXAMPLES' | translate }}</strong><br>
  {{ 'NAV.5.4' | translate }}
</p>
<p>
  <strong>5.5 {{ 'NAV.WITHDRAWAL' | translate }}</strong><br>
  {{ 'NAV.5.5' | translate }}
</p>
<p>
  <strong>5.6 {{ 'NAV.OWN_RISK' | translate }}</strong><br>
  {{ 'NAV.5.6' | translate }}
</p>
  </div>
  </div>
  </section>
</section>
